section.about
  div.container
    h2.about__title.section-title О к<img src="img/svg/wheel.svg" alt="">мпании
    div.about__wrap
      div.about__left
        div.about__left-title Горстрой проект - это
        p.about__left-text Принимая во внимание показатели успешности, внедрение современных методик позволяет выполнить важные задания по разработке анализа существующих паттернов поведения.
        p.about__left-text Интерактивные прототипы разоблачены. Принимая во внимание показатели успешности, внедрение.
        p.about__left-text Принимая во внимание показатели успешности, внедрение современных методик позволяет выполнить важные задания по разработке.
        p.about__left-text Интерактивные прототипы разоблачены. Принимая во внимание показатели успешности, внедрение.
        p.about__left-text Интерактивные прототипы разоблачены. Принимая во внимание показатели успешности, внедрение.
      div.about__right
        div.about__right-logo
          img.about__right-logo-img(src="img/svg/jcb-logo.svg", alt="")
        div.about__right-logo
          img.about__right-logo-img(src="img/svg/atlas.svg", alt="")
        div.about__right-logo
          img.about__right-logo-img(src="img/svg/kamaz.svg", alt="")
        div.about__right-logo
          img.about__right-logo-img(src="img/svg/bobcat.svg", alt="")
        div.about__right-logo
          img.about__right-logo-img(src="img/svg/case.svg", alt="")
