section.service
  div.container
    div.service__wrap
      div.service__left
        h2.service__left-title.section-title Услуги, к<img src="img/svg/wheel.svg" alt="">торые мы оказываем
        a.service__btn(href="#") Узнать больше
      div.service__right
        a.service__right__link(href="#")
          span.service__right-link-text Вывоз грунта
        a.service__right__link.service__right__link-black(href="#")
          span.service__right-link-text Рытьё и разработка котлованов
        a.service__right__link.service__right__link-black(href="#")
          span.service__right-link-text Доставка песка
        a.service__right__link(href="#")
          span.service__right-link-text Доставка щебня
