section.slider
  div.container
    div.slider__wrap
      div.slider__carousel
        div.slider__item
          h2.slider__item-title JCB 3CX
          div.slider__item-detail
            div.slider__item-detail-left
              div.slider__item-detail-left-item Глубина копания
              div.slider__item-detail-left-item Мощность двигателя
              div.slider__item-detail-left-item Объем ковша
              div.slider__item-detail-left-item Масса
            div.slider__item-detail-right
              div.slider__item-detail-right-item 5460 мм
              div.slider__item-detail-right-item 68.60 кВт
              div.slider__item-detail-right-item 1 м^3
              div.slider__item-detail-right-item 8445 кг
          button.slider__item-btn Арендовать
          img.slider__item-img(src="img/content/jcb.png", alt="")
      div.slider__dots
        button.slider__dots-item.active 01
        button.slider__dots-item 02
        button.slider__dots-item 03
