.footer {
  display: none;

  background: var(--color-black);
  color: var(--color-white);
}

.footer__wrap {

}

.footer__logo {

}

.footer__logo-img {
  width: 191px;
  height: 35px;
}

.footer__nav {

}

.footer__nav-list {

}

.footer__nav-item {

}

.footer__nav-link {

}

.footer__copyright {

}

.footer__copyright-text {

}

.footer__copyright-link {

}

.footer__copyright-dev {

}

.footer__copyright-dev-text {

}

.footer__copyright-dev-link {

}

.footer__copyright-dev-img {
  width: 16px;
  height: 16px;
}

.footer__copyright-dev-name {

}
