.header {
  padding: 30px 0 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.header__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  margin-top: 5px;
}

.header__logo-img {
  width: 206px;
  height: 36px;
}

.header__nav {
  padding-top: 5px;
}

.header__nav-list {
  display: flex;
  align-items: center;
}

.header__nav-item {
  margin-left: 40px;
  font-size: 18px;
  font-weight: 400;
  &:first-child {
    margin-left: 0;
  }
}

.header__nav-item.active {
  .header__nav-link {
    font-weight: 700;
    color: var(--color-yellow);
  }
}

.header__nav-link {

  &:hover {
    color: var(--color-yellow);
  }
}

.header__right {
  display: flex;
  align-items: center;
  padding-right: 3px;
}

.header__right-callback {
  margin-left: 90px;
  padding: 16px 24px 15px 22px;
  font-family: var(--font-firasans);
  font-size: 15px;
  font-weight: 700;
  color: var(--color-white);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border-radius: 30px;
  background: var(--color-yellow);
  transition: background 0.2s linear;
  &:hover {
    background: var(--color-black);
  }
}

.header__right-phone {
  margin-left: 40px;
  font-family: var(--font-firasans);
  font-size: 22px;
  font-weight: 600;
}

