div.catalog__wrap
  div.catalog__item
    div.catalog__item-title Экскаватор-погрузчик JCB 3СX
    img.catalog__item-img(src="img/content/jcb-1.png", alt="")
    div.catalog__item-hidden
      div.catalog__item-hidden-title Экскаватор-погрузчик JCB 3СX
      div.catalog__item-hidden-text Машины рассчитаны на использование на самых разных объектах, начиная от строительных площадок и заканчивая сельскохозяйственными угодьями.
      div.catalog__item-hidden-wrap
        div.catalog__item-hidden-price 15 000 р / смена
        a.catalog__item-hidden-link(href="#") Подробнее
  div.catalog__item.catalog__item-border
    div.catalog__item-title Экскаватор-погрузчик JCB 3СX <span>с гидромолотом</span>
    img.catalog__item-img(src="img/content/jcb-2.png", alt="")
  div.catalog__item
    div.catalog__item-title Манипулятор Камаз <span>7 тонн</span>
    img.catalog__item-img(src="img/content/jcb-3.png", alt="")
  div.catalog__item
    div.catalog__item-title Гусеничный экскаватор case
    img.catalog__item-img(src="img/content/jcb-4.png", alt="")
  div.catalog__item.catalog__item-border
    div.catalog__item-title Мини погрузчик Bobcat S850
    img.catalog__item-img(src="img/content/jcb-5.png", alt="")
  div.catalog__item
    div.catalog__item-title Мини погрузчик Bobcat S770
    img.catalog__item-img(src="img/content/jcb-6.png", alt="")
  div.catalog__item
    div.catalog__item-title Поливомоечная машина Камаз <span>9 тонн</span>
    img.catalog__item-img(src="img/content/jcb-7.png", alt="")
  div.catalog__item.catalog__item-border
    div.catalog__item-title Компрессор Atlas copco xas 97
    img.catalog__item-img(src="img/content/jcb-8.png", alt="")
  div.catalog__item
    div.catalog__item-title Самосвал камаз <span>20 кубов</span>
    img.catalog__item-img(src="img/content/jcb-9.png", alt="")
div.catalog__center
  button.catalog__btn Проконсультироваться
