section.contact
  div.container
    div.contact__wrap
      div.contact__left
        div.contact__left-wrap
          h2.contact__title.section-title К<img src="img/svg/wheel.svg" alt="">нтакты
          div.contact__left-address
            div.contact__left-address-item
              div.contact__left-address-title Адрес
              div.contact__left-address-text Город Москва, м. Кантемировская, улица Москворечье, дом 14 строение 2
            div.contact__left-address-item
              div.contact__left-address-title Телефон
              div.contact__left-address-text +7 (963) 780-20-20
          div.contact__left-email
            div.contact__left-email-title Почта
            a.contact__left-email-link(href="mailto:gorstroy-proekt@mail.ru") gorstroy-proekt@mail.ru
      div.contact__right
