section.cta
  div.cta__wrap
    div.cta__left
      div.cta__left-wrap
        div.container
          div.cta__wrap
            div.cta__left-wrap-inner
              h2.cta__left-title.section-title х<img src="img/svg/wheel-black.svg" alt="">тите заказать у нас технику?
              p.cta__left-text Просто заполните свои данные и мы с Вами свяжемся
    div.cta__right
      form.cta__form(method="post", action="/")
        div.cta__form-wrap
          input.cta__form-input(type="text", placeholder="Ваше имя")
          input.cta__form-input(type="text", placeholder="Ваша почта")
          input.cta__form-input(type="text", placeholder="Ваш телефон")
          button.cta__form-btn(type="submit") Связаться с нами
