.contact {
  background: var(--color-black);
}

.contact__wrap {

}

.contact__left {

}

.contact__left-wrap {

}

.contact__title {
  img {
    width: 31px;
    height: 42px;
    padding: 0 3px 4px;
  }
}

.contact__left-address {

}

.contact__left-address-item {

}

.contact__left-address-title {

}

.contact__left-address-text {

}

.contact__left-address-item {

}

.contact__left-address-text {

}

.contact__left-email {

}

.contact__left-email-title {

}

.contact__left-email-link {

}

.contact__right {

}
