footer.footer
  div.container
    div.footer__wrap
      a.footer__logo(href="#")
        img.footer__logo-img(src="img/svg/logo-footer.svg", alt="")
      nav.footer__nav
        ul.footer__nav-list
          li.footer__nav-item
            a.footer__nav-link(href="#") Главная
          li.footer__nav-item
            a.footer__nav-link(href="#") Услуги
          li.footer__nav-item
            a.footer__nav-link(href="#") Аренда
          li.footer__nav-item
            a.footer__nav-link(href="#") Контакты
    div.footer__copyright
      span.footer__copyright-text Copyright @ 2021
      a.footer__copyright-link(href="#") Политика конфиденциальности
      div.footer__copyright-dev
        span.footer__copyright-dev-text Разработано
        a.footer__copyright-dev-link(href="#")
          img.footer__copyright-dev-img(src="img/svg/promind-logo.svg", alt="")
          span.footer__copyright-dev-name Promind
